---

---

<button id="testBtn" class="bg-blue-300 px-10 py-4">Test Button</button>

<script>
  const button = document.getElementById("testBtn")

  button.addEventListener("click", () => {
    alert("Welcome to the test page")
  })
</script>
